alembic==1.7.3
appnope==0.1.2
attrs==21.2.0
autopage==0.4.0
backcall==0.2.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.0
click==8.0.1
cliff==3.9.0
cmaes==0.8.2
cmd2==2.2.0
colorama==0.4.4
colorlog==6.4.1
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.9
greenlet==0.4.16
hmmlearn==0.2.6
idna==3.1
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.17.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
littleutils==0.2.2
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.19.0
more-itertools==8.8.0
mpmath==1.2.1
nltk==3.6.2
numexpr==2.7.3
numpy==1.19.5
olefile==0.46
optuna==2.9.1
outdated==0.2.0
packaging==21.0
pandas==1.3.2
pandas-flavor==0.2.0
parso==0.8.2
patsy==0.5.1
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pingouin==0.3.12
pip==21.1.3
pluggy==0.13.1
prettytable==2.2.0
prompt-toolkit==3.0.17
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PySocks==1.7.1
pysubgroup==0.7.2
pytest==6.2.4
pytest-runner==5.3.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==20.0.0
regex==2021.8.3
requests==2.26.0
scikit-learn==0.24.2
scipy==1.6.2
seaborn==0.11.1
setuptools==52.0.0.post20210125
six==1.16.0
SQLAlchemy==1.4.23
statsmodels==0.12.2
stevedore==3.4.0
tabulate==0.8.9
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
urllib3==1.26.6
wcwidth==0.2.5
wheel==0.36.2
xarray==0.19.0
yellowbrick==1.3
zipp==3.5.0
